@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>free software under the GNU license. WebTracking is an emailing behavioral analysis tool to track.</p>
</div>
