@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Unsubscription</h1>
<div>
    your unsubscription has been registered. We hope to see you again soon on our platform
</div>